<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveLight.mapper.AccountMapper">

 <select id="findAccount" parameterType="com.loveLight.entity.Account" resultType = "String">
  	SELECT
  		username
  	FROM
  		accounts
  	WHERE
  		username = #{username} and PASSWORD = #{password}
  </select>
  
  <insert id="insertAll" parameterType="com.loveLight.entity.Account">
  	INSERT INTO 
  		accounts (username,password,question,answer,name,sex,high,area,role) 
  	VALUES
  		(#{username}, #{password}, #{question}, 
  		#{answer}, #{name}, #{sex},#{high},#{area},0)
  
  
  </insert>
  
  <select id="updateByRole" parameterType="String" resultType = "com.loveLight.entity.Account">
 	update
 		accounts
 	set
  		role = 2
  	WHERE
  		username = #{username} 
  </select>
  
  <update id="reset">
  	update
  		accounts
  	set
  		password=#{newPassWord}
  	where
  		username=#{account}
  </update>
  

  <select id="findAccountInfoByUsername" parameterType="string" resultType="com.loveLight.entity.Account" >
  	select 
  		*
  	from
  		accounts
  	where
  		username = #{value}
  </select>
  
  <update id="updateAccount" parameterType="com.loveLight.entity.Account">
  	update 
  		accounts
  	set
  		password = #{password},
  		sex = #{sex},
  		high = #{high},
  		area = #{area},
  		question = #{question},
  		answer = #{answer}
  	where
  		username = #{username}
  </update>
  

  <select id="findByUsername" parameterType="String" resultType = "com.loveLight.entity.Account">
  	select
 		username,role
 	from
  		accounts
  	WHERE
  		username = #{username} 
  </select>
  

 </mapper>