<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveLight.mapper.AccountMapper">

 <select id="findAccount" parameterType="com.loveLight.entity.Account" resultType = "String">
  	SELECT
  		username
  	FROM
  		accounts
  	WHERE
  		username = #{username} and PASSWORD = #{password}
  </select>
  
  <insert id="insertAll" parameterType="com.loveLight.entity.Account">
  	INSERT INTO 
  		accounts (username,password,question,answer,name,sex,high,area) 
  	VALUES
  		(#{username}, #{password}, #{question}, 
  		#{answer}, #{name}, #{sex},#{high},#{area})
  
  
  </insert>
  
 </mapper>