<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveLight.mapper.LiuYanMapper">
	<select id="search" resultType="com.loveLight.entity.LiuYan">
		select
			username,
			liuyanren,
			neirong,
			time
		from
			liuyan
		where
			username=#{value}
	</select>
	
	<insert id="insertLiuYan" parameterType="com.loveLight.entity.LiuYan">
		insert into
			liuyan(username,liuyanren,neirong,time)
		values
			(#{username},#{liuyanren},#{neirong},#{time})
	</insert>
</mapper>