<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveLight.mapper.PhotoWallMapper">

<delete id="deleteRecordBySrc" parameterType="String">
	DELETE FROM
		photo_wall
	WHERE
		src = #{value}
</delete>

<insert id="insertRecord" parameterType="com.loveLight.entity.PhotoWall">
	INSERT INTO
		photo_wall (username, day, `time`, info, src)
	VALUES
		(#{username}, #{day}, #{time}, #{info}, #{src})
</insert>

<select id="findRecordsByUsername" parameterType="String" resultType="com.loveLight.entity.PhotoWall">
	SELECT 
		*
	FROM
		photo_wall
	WHERE
		username = #{value}
</select>

</mapper>